* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #232323;
  z-index: 0;
  overflow-x: hidden;
  padding-top: 150px;
}

.search{
    position: relative;
    top: 15px;
    left: 12px;
    border: none;
    font-size: 17px;
    transition: all 1s ease;
}

.search input[type="text"] {
    text-decoration: none;
    padding-left: 10px;
    padding-right: 150px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #dddddd;
}

.searchbtn {
    background-color: #383838;
    border: 1px solid #383838;
    border-color: none;
    color: white;
    padding: 10px 10px;
}

.searchbtn:hover {
    background-color: #bb8525;
    color: black;
}
.container table {
    position: relative;
    left: 10px;
    top: 20px;
    font-family: arial, sans-serif;
    border-collapse:separate;
    transition: all 1s ease;
    padding-right: 30px;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 10px;
    width: 206px;
    padding-left: 30px;
  }

  th{
    background-color: #383838;
  }

  tr{
    color: white;
  }

  a{
    color: #76a9e2;
  }

 a:hover{
    color: #2673e7;
 }
  .none {
    position:absolute;
    top: 250px;
    left: 575px;
    font-size: 20px;
}