body{
    margin: 0;
    padding: 0;
    background-image: url("img/udm.login.page.jpg");
    background-size: cover;
}

.cover{
        padding: 391px  ;
        background: linear-gradient(to top, #121212, #2c2c2c00);
}

.label{
    color:#fff;
}

.msg{
    font-size: 14px;
    color: rgb(255, 49, 49);
    padding-bottom: 10px;
}

.header{
    padding-bottom: 30px;
}

.regbox{
    width: 320px;
    height: 500px;
    background-color: #232323;
    color: #000000;
    top: 50%;
    left: 80%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 5px;
}

.boxlogo{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    position: absolute;
    top: 30px;
    left: calc(50% - 50px);
}

.udmcontainer{
    top: 30%;
    left: 25%;
    position: absolute;
    font-family: 'Times New Roman';
}

.udmtext{
    font-size: 40px;
    padding-left: 10px;
    padding-bottom: 10px;
    color: white;
}

.udmtext1{
    color: #e6aa44 ;
    position:absolute;
    top: 33%;
    padding-left: 15px;
    font-size: 35px;
    font-weight: 300;
}

.udm1{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: -25%;
}
.form{
    font-family: sans-serif;
}

.regbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.regbox input{
    width: 100%;
    margin-bottom: 20px
}

.regbox input[type="text"], input[type="password"]{
    border: 1px solid rgba(226, 226, 226, 0.50);
    border-bottom: 1px solid rgb(226, 226, 226, 0.50);
    border-radius: 5px;
    font-size: 15px;
    padding-left: 10px;
    margin-bottom: 10px;
    color: white;
    background: transparent;
    outline: none;
    height: 40px;
}



.regbox input[type="submit"]{
    position:relative;
    border: none;
    outline: none;
    padding: 10px 20px;
    width: 274px;
    background: #e6aa44;
    color: #fff;
    font-size: 20px;
    font-family: sans-serif;
    border-radius: 5px;
    margin-bottom: 20px;
}

.regbox input[type="submit"]:hover{
    cursor: pointer;
    background: #d8982b;
    color: #fff;
}

.line{
    padding-left: 0;
    width: 275px;
    border-top : 1px solid rgb(139, 139, 139);
}

.new {
    background-color: #4CAF50;
    color: #fff;
    text-decoration: none;
    border: none;
    padding: 10px 20px;
    display: inline-block;
    font-size: 18px;
    cursor: pointer;
    margin-left: 50px;
    margin-top: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.new:hover{
    cursor: pointer;
    background: #5ed762;
    color: #fff;
}

.form #user_error,
.form #pass_error{
    font-size: 13px;
    color: rgb(255, 0, 0);
    text-align: left;
    display: none;
}
.form #alert{
    margin-top: 0px;
    text-align: center;
    padding: 5px 8px;
    display: none;
}

