* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.user-img {
    max-width: 50px;
    border-radius: 100%;
    border: none;
    margin: 10px
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 80px;
    background-color: #121212;
    padding: 5px 10px;
    transition: all 1s ease;
}

.sidebar.active ~ .main-content {
    left: 250px;
    width: calc(100% - 250px);
}

.sidebar.active{
    width: 250px;
}

.sidebar #btn {
    position: absolute;
    color: white;
    top: 10px;
    left: 50%;
    font-size: 20px;
    line-height: 50px;
    transform: translate(-50%);
    cursor: pointer;
}

.sidebar.active #btn {
    left: 90%;
}

.sidebar .top .logo {
    background: linear-gradient(to right, #8c742a, #bb8525);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    pointer-events: none;
    opacity: 0;
    
}


.sidebar.active .top .logo {
    opacity: 1;
}

.top .logo i {
    font-size: 10px;
    margin-right: 5px;
    
}

.user {
    display: flex;
    align-items: center;
    margin: 10px 0px;
}

.user p {
    color: white;
    opacity: 1;
    margin-left: 5px;
}

.bold {
    font-weight: 600;
}

.sidebar p {
    opacity: 0;
}

.sidebar.active p {
    opacity: 1;
}

.sidebar ul li {
    position: relative;
    list-style-type: none;
    height: 50px;
    width: 90%;
    margin: 5px auto;
    line-height: 50px;
}

.sidebar ul li a {
    color: white;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 8px;
}

.sidebar ul li a:hover {
    background-color: #bb8525;
    color: black;
}

.sidebar ul li a i {
    min-width: 50px;
    text-align: center;
    height: 50px;
    border-radius: 10px;
    line-height: 50px;
}

.sidebar .nav-item {
    opacity: 0;
}

.sidebar.active .nav-item {
    opacity: 1;
}

.sidebar ul li .tooltip {
    position: absolute;
    left: 125px;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 5px 10px;
    line-height: 50px;
    z-index: 20;
    opacity: 0;
}

.sidebar ul li:hover .tooltip {
    opacity: 1;
}

.sidebar.active ul li .tooltip {
    display: none;
}

.main-content {
    position: relative;
    padding-top: 100px;
    left: 80px;
    transition: all 1s ease;
    width: 95%;
    height: 100%;
}
