body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    height: 100vh;
}

.sidebar {
    width: 250px;
    background-color: #ffffff;
    color: #1877f2;
    padding: 20px;
    position:relative;
    flex-direction: column;
    align-items:baseline;
}

.sidebar .user-info {
    text-align: center;
    margin-bottom: 20px;
}

.sidebar .user-info img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.sidebar .user-info h3 {
    margin: 0;
    font-size: 18px;
}

.sidebar .user-info p {
    margin: 5px 0;
    font-size: 14px;
    color: #000000;
}

.sidebar .sidebar-links {
    width: 100%;
}

.sidebar .sidebar-links a {
    display: block;
    width: 100%;
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
    background-color: #3a3b3c;
    color: #e4e6eb;
    text-decoration: none;
    border-radius: 8px;
}

.sidebar .sidebar-links a:hover {
    background-color: #4a4b4d;
}
